
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/">MENÚ</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">OPCIONES</a>
										<ul>
											<li><a href="/obras_sociales">OBRAS SOCIALES</a></li>
											<li>
												<a href="#">ESPECIALIDADES MÉDICAS</a>
												<ul>
													<li><a href="/cartilla">GINECOLOGÍA</a></li>
													<li><a href="/cartilla">MEDICINA CLÍNICA</a></li>
													<li><a href="/cartilla">NUTRICIÓN</a></li>
													<li><a href="/cartilla">DIAGNOSTICO POR IMÁGENES</a></li>
													<li><a href="/cartilla">ORTOPEDIA Y TRAUMATOLOGÍA</a></li>
													<li><a href="/cartilla">LABORATORIOS CLÍNICOS</a></li>
													<li><a href="/cartilla">PSICOLOGÍA</a></li>
													<li><a href="/cartilla">PEDIATRÍA</a></li>
													<li><a href="/cartilla">OFTALMOLOGÍA</a></li>
													<li><a href="/cartilla">FISIOTERAPIA</a></li>
													<li><a href="/cartilla">DERMATOLOGÍA</a></li>
												</ul>
											</li>
											
										</ul>
									</li>
									<li><a href='/menu'>CONTACTO / SUGERENCIAS</a></li>
									<li class="break"><a href="/especialidades">ESPECIALIDADES</a></li>
									<li><a href='/login'>MI CENTRO MÉDICO</a></li>
								</ul>
							</nav>
					</div>
				</div>
		</div>

			<!-- Features 1 -->
				<div class="wrapper">
					<div >
						<div class="row">
							<section class="col-6 col-24-narrower feature" >

                                <div class="form-control" style="margin-left: 20px;">
                                    <form method="POST" action="/consultas/create">
                                            <div class="mb-3">
                                           	 	<input type="text" class="form-control form-control-sm" name="nombre_paciente" placeholder="Nombre del paciente">
                                            </div>
                                            <div class="mb-3">
                                            	<input type="text" class="form-control form-control-sm" name="apellido_paciente" placeholder="Apellido del paciente">
                                            </div>
                                            <div class="mb-3">
                                            	<input type="text" class="form-control" name="tratamiento" placeholder="Tratamiento">
                                            </div>
											<div class="mb-3">
                                            	<input type="text" class="form-control form-control-sm" name="dx" placeholder="Diagnostico">
                                            </div>
											<div class="mb-3">
                                            	<input type="number" class="form-control form-control-sm" name="id_medico" placeholder="Medico" min="1" max="35">
                                            </div>
											<ul class="actions" style="margin-top: 20px;">
												<li><input type="submit" value="Cargar datos de la consulta efectuada" /></li>
												<li><a href="/consultas" style="margin-top: 20px;" class="button">Volver al listado de consultas </a></li>
                                            </ul>
                                    </form>
								</div>			
                                								
							</section>
							<section class="col-6 col-12-narrower feature">	
                                <h3> <b>Registro de pacientes al historial clinico</b></h3>
								<h4>Registre aqui la consulta efectuada</h4>
                                <div class="image-wrapper"; style="margin-top:18px" >
                                    <img class="image featured first" src="/images/consulta4.jpg" alt="" />
                                </div> 	
							</section>
						</div>
					</div>
				</div>
        
			<!-- Promo -->
				<div id="promo-wrapper" style="padding: 20px, 20px, 20px, 20px ;">
					<section id="promo" style="padding: 20px 10px 20px 10px;">
						<h2>Volver al menú principal</h2>
						<a href="/menu" class="button" style="padding: 5px 5px 5px 5px;">MENU</a>
					</section>
				</div>
			<!-- Footer -->
				<div id="footer-wrapper">
						<div class="col">
								<div style="display: flex; justify-content:center">
									<img class="imagen-logo" src="/images/logo2.png" alt="">	
									<p style="font-size:25px; padding-top: 70px; margin:0px"><b>Desde hace 26 años acompañando <br> a nuestra gente <br> y creciendo juntos. </b></p>
								</div>												
						</div>
		        </div>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	