<!-- Header -->
				
    <div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/">MENÚ</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">OPCIONES</a>
										<ul>
											<li><a href="/obras_sociales">OBRAS SOCIALES</a></li>
											<li>
												<a href="#">ESPECIALIDADES MÉDICAS</a>
												<ul>
													<li><a href="/cartilla">GINECOLOGÍA</a></li>
													<li><a href="/cartilla">MEDICINA CLÍNICA</a></li>
													<li><a href="/cartilla">NUTRICIÓN</a></li>
													<li><a href="/cartilla">DIAGNOSTICO POR IMÁGENES</a></li>
													<li><a href="/cartilla">ORTOPEDIA Y TRAUMATOLOGÍA</a></li>
													<li><a href="/cartilla">LABORATORIOS CLÍNICOS</a></li>
													<li><a href="/cartilla">PSICOLOGÍA</a></li>
													<li><a href="/cartilla">PEDIATRÍA</a></li>
													<li><a href="/cartilla">OFTALMOLOGÍA</a></li>
													<li><a href="/cartilla">FISIOTERAPIA</a></li>
													<li><a href="/cartilla">DERMATOLOGÍA</a></li>
												</ul>
											</li>
											
										</ul>
									</li>
									<li><a href='/menu'>CONTACTO / SUGERENCIAS</a></li>
									<li class="break"><a href="/especialidades">ESPECIALIDADES</a></li>
									<li><a href='/login'>MI CENTRO MÉDICO</a></li>
								</ul>
							</nav>

					</div>
				</div>
        </div>

        <section style="padding-top: 40px;" class="container">
						<header class="major">
							<h3>Nuestros profesionales</h3>
							<h5 style="color: rgb(59, 54, 54);">Altamente calificados, con capacitación permanente y compromiso por el bienestar de las personas</h5>
						</header>
					
					<div class="container2" style="padding-top:20px">
						<div class="row">

							<div class="row-bg-2 sm-1 " >
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 105%; height: 105%; text-align:center" src="/images/doctor1.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"><b>Victor Hugo García</b></h5>
									<p class="card-text"><em>Médico Clínico especialista en Medicina Interna</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 90%; height: 90%; text-align:center" src="/images/doctora2.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"> <b>Yanina Eliana Galfione</b></h5>
									<p class="card-text"><em>Licenciada en Producción de Bio-Imágenes</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 90%; height: 90%;" src="/images/doctor3.jpg" alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Ariel Oscar Dassetto</b></h5>
									<p class="card-text"><em>Médico Traumatólogo</em> </p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 93%; height: 95%;" src="/images/doctor4.jpg"  alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Verónica Mabel Bongiovanni</b></h5>
									<p class="card-text"><em>Médica especialista en Pediatría</em></p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
					</div>                 

					</section>

                    <section style="padding-top: 40px;" class="container">			
					<div class="container2" style="padding-top:20px">
						<div class="row">

							<div class="row-bg-2 sm-1 " >
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 92%; text-align:center" src="/images/doctor6.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"><b>Marisa Guerra</b></h5>
									<p class="card-text"><em>Licenciada en Fisioterapia y Kinesiología</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 92%; text-align:center" src="/images/doctor5.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"> <b>Selene Galvalisi</b></h5>
									<p class="card-text"><em>Licenciada en Nutrición</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 85%;" src="/images/doctor7.jpg" alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Maria Pía Aranda</b></h5>
									<p class="card-text"><em>Medica especialista en Dermatología</em> </p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 95%;" src="/images/doctor8.jpg"  alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Nestor Osvaldo Zunino</b></h5>
									<p class="card-text"><em> Licenciado en Bioquímica</em></p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
					</div>

					</section>
	
					</section>

                    <section style="padding-top: 40px;" class="container">			
					<div class="container2" style="padding-top:20px">
						<div class="row">

							<div class="row-bg-2 sm-1 " >
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 95%; text-align:center" src="/images/doctor12.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"><b>Silvia Perez</b></h5>
									<p class="card-text"><em>Licenciada en Bioquímica</em></p>
								</div>
								</div>
							</div>
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 92%; text-align:center" src="/images/doctor9.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"> <b>Gustavo Nunez</b></h5>
									<p class="card-text"><em>Licenciado en Oftalmología</em></p>
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 100%; height: 95%;" src="/images/doctor11.jpg" alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Macarena Giuliano</b></h5>
									<p class="card-text"><em>Licenciada en Psicología especialista en Psicología Infantil</em> </p>
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 92%;" src="/images/doctor13.jpg"  alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Sandra Camandona</b></h5>
									<p class="card-text"><em>Licenciada en Psicología</em></p>
								</div>
								</div>
							</div>
					</div>

					</section>

                    </section>

                    <section style="padding-top: 40px;" class="container">			
					<div class="container2" style="padding-top:20px">
						<div class="row">

							<div class="row-bg-2 sm-1 " >
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 95%; height: 92%; text-align:center" src="/images/doctor10.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"><b>Joaquín Bertola</b></h5>
									<p class="card-text"><em>Licenciado en Psicología</em></p>
								</div>
								</div>
							</div>
		
					</div>

					</section>

             
					
						<div class="col">
							
								<div style="display: flex; justify-content:center">
									<img class="imagen-logo" src="/images/logo2.png" alt="">
									
									<p style="font-size:25px; padding-top: 70px; margin:0px"><b>Desde hace 26 años acompañando <br> a nuestra gente <br> y creciendo juntos. </b></p>
								</div>		
																	
						</div>
					   




            <!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>