<body class="homepage is-preload">
			
    <div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/">MENÚ</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">OPCIONES</a>
										<ul>
											<li><a href="/obras_sociales">OBRAS SOCIALES</a></li>
											<li>
												<a href="#">ESPECIALIDADES MÉDICAS</a>
												<ul>
													<li><a href="/cartilla">GINECOLOGÍA</a></li>
													<li><a href="/cartilla">MEDICINA CLÍNICA</a></li>
													<li><a href="/cartilla">NUTRICIÓN</a></li>
													<li><a href="/cartilla">DIAGNOSTICO POR IMÁGENES</a></li>
													<li><a href="/cartilla">ORTOPEDIA Y TRAUMATOLOGÍA</a></li>
													<li><a href="/cartilla">LABORATORIOS CLÍNICOS</a></li>
													<li><a href="/cartilla">PSICOLOGÍA</a></li>
													<li><a href="/cartilla">PEDIATRÍA</a></li>
													<li><a href="/cartilla">OFTALMOLOGÍA</a></li>
													<li><a href="/cartilla">FISIOTERAPIA</a></li>
													<li><a href="/cartilla">DERMATOLOGÍA</a></li>
												</ul>
											</li>
											
										</ul>
									</li>
									<li><a href="/menu">CONTACTO / SUGERENCIAS</a></li>
									<li class="break"><a href="/especialidades">ESPECIALIDADES</a></li>
									<li><a href='/login'>MI CENTRO MÉDICO</a></li>
								</ul>
							</nav>
				</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>CENTRO MÉDICO PRIVADO
								<br />
								"SAN SEBASTIÁN"</h2>
							</header>
						</section>

				</div>
			</div>

			<!-- Features 1 -->
				<div class="wrapper">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower feature" >
								
								<div class="image-wrapper first" > 
								<img class="image featured first" src="images/pic01.jpg" alt="No disponible" />
								</div>
								
								<header>
									<h4> <b>EN MEDIO DE LA PANDEMIA, CUIDEMONOS ENTRE TODOS</b></h4>
								</header>
								<p>Se recomienda el uso de barbijo, distancia de 2m entre las personas, evitar multitudes y ventilar los ambientes cerrados</p>
								<p>Tomemos las medidas de prevención para evitar el contagio </p> <STRONG>SEAMOS RESPONSABLES</STRONG> 
								
							</section>
							<section class="col-6 col-12-narrower feature">	
								<div class="image-wrapper"; style="margin-top:18px" >
								<img class="image featured first" src="images/pic02.jpg" alt="" />
								</div>
								
								<header>
									<h4> <b>NOVEDADES</b></h4>
								</header>
								<p>Felices por la adquisición de un nuevo digitalizador para el sector de <br> Rayos-X</p>
							</section>
						</div>
					</div>
				</div>

			<!-- Promo -->
				<div id="promo-wrapper">
					
				</div>

			<!-- Features 2 -->
				
			 		<section style="padding-top: 40px;" class="container">
						<header class="major">
							<h3>Nuestros profesionales</h3>
							<h5 style="color: rgb(59, 54, 54);">Altamente calificados, con capacitación permanente y compromiso por el bienestar de las personas</h5>
						</header>
					
					<div class="container2" style="padding-top:20px">
						<div class="row">

							<div class="row-bg-2 sm-1 " >
								<div class="card" style="width: 15rem">
								<img class="imagen-card" src="/images/doctor1.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"><b>Victor Hugo García</b></h5>
									<p class="card-text"><em>Médico Clínico especialista en Medicina Interna</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 80%; height: 90%; text-align:center" src="/images/doctora2.jpg" alt="">
								<div class="card-body">
									<h5 class="card-title"> <b>Yanina Eliana Galfione</b></h5>
									<p class="card-text"><em>Licenciada en Producción de Bio-Imágenes</em></p>
									{{!-- <a href="#" class="btn btn-primary">Ver más</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 78%; height: 90%;" src="/images/doctor3.jpg" alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Ariel Dassetto</b></h5>
									<p class="card-text"><em>Médico Traumatólogo</em> </p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
							
							<div class="row-bg-2 sm-1 ">
								<div class="card" style="width: 15rem">
								<img style="position:relative ;width: 80%; height: 100%;" src="/images/doctor4.jpg"  alt="...">
								<div class="card-body">
									<h5 class="card-title"><b>Verónica Mabel Bongiovanni</b></h5>
									<p class="card-text"><em>Médica especialista en Pediatría</em></p>
									{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
								</div>
								</div>
							</div>
					</div>

					</section>
								
						<ul class="actions major">
							<li><a href="/cartilla" class="button">Ver cartilla de profesionales</a></li>
						</ul>
					
				

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header class="major">
							<h2 style="color: #f35858">Control Médico Integral</h2>
							<p><em><b>El control periódico de la salud es una metodología que busca detectar signos, síntomas o factores de riesgo que puedan derivar en patologías que afecten a la salud del individuo.</b></em></p>
						</header>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<h2>¿Cómo podemos ayudarte?</h2>
								<h5>Queremos brindarte un mejor servicio cada día, por favor dejanos tu consulta, duda o sugerencia.</h5><br>
								<form method="post" action="/menu/create">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section class="col-3 col-3-narrower">
								
								<div class="row gtr-0" style="justify-content: flex-end;">
									
									<ul class="divided icons col-3 col-3-mobile">
										
										<li class="icon brands fa-twitter"><a href="https://twitter.com/InstitutoMedico"><span class="extra"><br>
										Twitter/</span>CentroSanSebastian</a></li>
										<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/Instituto-M%C3%A9dico-Privado-1721448067894522"><span class="extra">Facebook/</span>CentroSanSebastian</a></li>
										<li class="icon brands fa-instagram"><a href="https://www.instagram.com/clinicadelsud/"><span class="extra">Instagram.com/</span>CentroSanSebastian</a></li>
										{{!-- <li class="icon brands fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li> --}}
									</ul>
									{{!-- <ul class="divided icons col-6 col-12-mobile"> --}}
										
										{{!-- <li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li> --}}
										{{!-- <li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li> --}}
									{{!-- </ul> --}}
								</div>
							</section>
						
						</div>
					</div>


				
					
						<div class="col">
							
								<div style="display: flex; justify-content:center">
									<img class="imagen-logo" src="/images/logo2.png" alt="">
									
									<p style="font-size:25px; padding-top: 70px; margin:0px"><b>Desde hace 26 años acompañando <br> a nuestra gente <br> y creciendo juntos. </b></p>
								</div>		
																	
						</div>
					
				
		</div>



		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>