<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <title>Centro Medico Privado San Sebastian</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/css/main.css">
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
